@model ShoppingListApp.Models.ShoppingListViewModel
@{
    ViewBag.Title = "Список покупочек чеееек";
}

<div class="add-form">
    <h2>Добавить товар</h2>
    <form asp-action="Add" method="post">
        <input type="text" asp-for="NewItem.Name" placeholder="Название" required="">
        <span asp-validation-for="NewItem.Name" class="text-danger"></span>

        <input type="number" asp-for="NewItem.Quantity" min="1" max="100" placeholder="Кол-во">
        <span asp-validation-for="NewItem.Quantity" class="text-danger"></span>

        <button type="submit">Добавить</button>
    </form>
</div>


@if (TempData["Message"] != null)
{
    <div class="alert alert-@TempData["MessageType"]">@TempData["Message"]</div>
}

<div class="lists-container">
    <div class="column not-bought-column">
        <h2>Невыполненные покупки</h2>
        <ul>
            @foreach (var item in Model.ItemsNotBought)
            {
                <li>
                    <form asp-action="ToggleBought" asp-route-id="@item.Id" method="post">
                        <label>
                            <input type="checkbox"
                                   onchange="this.form.submit()"
                                   @(item.IsBought ? "checked" : "")/>
                            @item.Name - @item.Quantity шт.
                        </label>
                        <a href="@Url.Action("Remove", new { id = item.Id })">Удалить</a>
                    </form>
                </li>
            }
        </ul>
    </div>

    <div class="column bought-column">
        <h2>Выполненные покупки</h2>
        <ul>
            @foreach (var item in Model.ItemsBought)
            {
                <li>
                    <form asp-action="ToggleBought" asp-route-id="@item.Id" method="post">
                        <label class="@(item.IsBought ? "bought" : "")">
                            <input type="checkbox"
                                   onchange="this.form.submit()"
                                   checked/>
                            @item.Name - @item.Quantity шт.
                        </label>
                        <a href="@Url.Action("Remove", new { id = item.Id })">Удалить</a>
                    </form>
                </li>
            }
        </ul>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    <script>
        document.querySelectorAll('input[type="checkbox"]').forEach(checkbox => {
            checkbox.addEventListener('change', function() {
                const form = this.closest('form');
                const isBought = this.checked;
                
                form.submit();
            });
        });
    </script>
}